# Mortgage Calculator with recurring early repayments

Based on [https://onladder.co.uk/blog/how-to-calculate-mortgage-repayments/](https://onladder.co.uk/blog/how-to-calculate-mortgage-repayments/)

Especially in the UK, you can make overpayments totalling up to 10\% of your original loan amount (not the current loan) during a 12 month period without penalty.

Boosting your monthly payments, even by rounding up, accelerates your mortgage repayment and reduces overall interest costs. For instance, by rounding it up, from £865 to £1,000. The excess goes into your equity, lowers the current principal, and therefore the cost for borrowing (due to interest).

This code demonstrates the impact of such overpayments on your mortgage.

## Parameters

All the numbers you need to get started

In [1]:
# Principal (starting balance) of the loan
mortgage_amount = 200000

# Annual interest rate (APRC)
# Can be expressed as either in percentage (e.g., 3.99%) or decimal (e.g., 0.0399)
interest_rate = 0.0399 

# Duration of your mortgage in years
mortgage_period = 30 

# Number of payments in total: if you make one mortgage payment every month for 25 years, that’s 25*12 = 300
# Duration of your mortgage in months
total_instalments = mortgage_period*12

# For displaying purposes
currency = "£"# "$" "€"

## Recurring payments
These are set of payments that recur montly with a start and end date.

In [2]:
# structured in periods. Each period has a starting time, end time, and total amount paid 
repayments = [{"start": 10,
               "end": 15,
               "amount_paid": 1000}, # giving £1,000 from the 10 to the 15 month (6 months)
              {"start": 16,
               "end": 22,
               "amount_paid": 1100}, # giving £1,100 from the 16 to the 22 month (8 months)
              {"start": 23,
               "end": 30,
               "amount_paid": 1200}]

## Imports

In [3]:
import pandas as pd
from miscellaneous import *
from IPython.display import HTML, IFrame, display

## Original Summary
Without repayments

In [4]:
monthly_payment = payments(mortgage_amount,interest_rate,mortgage_period)
total_given = approx(monthly_payment*mortgage_period*12) 
print(f"Total amount borrowed {currency}{clean(mortgage_amount)}, with and interest rate of {clean(denormalise_interest_rate(interest_rate))}, and a repayment over {mortgage_period} ({mortgage_period*12} instalments)")
print(f"Montly payments set to {currency}{clean(monthly_payment)}")
print(f"Total payments {currency}{clean(total_given)}")
print(f"For each £1 borrowed you are will pay back {currency}{clean(total_given/mortgage_amount)}")

Total amount borrowed £200,000.00, with and interest rate of 3.99, and a repayment over 30 (360 instalments)
Montly payments set to £953.68
Total payments £343,324.80
For each £1 borrowed you are will pay back £1.72

In [5]:
# convert
check = check_recurring_repayments(repayments)
repayments_adj = convert_recurring_repayments(repayments)
print("Summary repayments:")
for k,v in repayments_adj.items():
    print(f"Month {k:3}, paid {currency}{v:4}")

Summary repayments:
Month  10, paid £1000
Month  11, paid £1000
Month  12, paid £1000
Month  13, paid £1000
Month  14, paid £1000
Month  15, paid £1000
Month  16, paid £1100
Month  17, paid £1100
Month  18, paid £1100
Month  19, paid £1100
Month  20, paid £1100
Month  21, paid £1100
Month  22, paid £1100
Month  23, paid £1200
Month  24, paid £1200
Month  25, paid £1200
Month  26, paid £1200
Month  27, paid £1200
Month  28, paid £1200
Month  29, paid £1200
Month  30, paid £1200

## Payment Schedule

In [6]:
columns=['Principal to date','Payment','Increased','Paid to date','Interest charged', 'Interest charged to date', 'Principal repaid', 'Principal repaid to date', 'Remaining principal']
table = pd.DataFrame(columns=columns, index=[x for x in range(1, total_instalments+1)])
remaining_principal = mortgage_amount
payment_to_date = 0
interest_paid_to_date = 0
principal_repaid_to_date = 0
to_break = False
for instalment in range(1, total_instalments+1):
    increased_payment = False
    this_month_payment = monthly_payment
    if instalment in repayments_adj:
        increased_payment = True
        this_month_payment = repayments_adj[instalment]
        if this_month_payment < monthly_payment:
            print(f"ERROR: For month {instalment} your repayment is set to {currency}{clean(this_month_payment)} instead of the original {currency}{clean(monthly_payment)}")
    
    principal_to_date = remaining_principal  
    curr_interest_paid = current_interest_paid(principal_to_date, interest_rate)
    if principal_to_date <= this_month_payment:
        this_month_payment = principal_to_date + curr_interest_paid
        to_break = True
    
    payment_to_date += this_month_payment
    
    interest_paid_to_date += curr_interest_paid
    principal_repaid = this_month_payment - curr_interest_paid
    principal_repaid_to_date += principal_repaid
    remaining_principal -= principal_repaid
    table.loc[instalment] = pd.Series({columns[0]:clean(principal_to_date),
                                         columns[1]:clean(this_month_payment),
                                         columns[2]:"Y" if increased_payment else "",
                                         columns[3]:clean(payment_to_date),
                                         columns[4]:clean(curr_interest_paid),
                                         columns[5]:clean(interest_paid_to_date),
                                         columns[6]:clean(principal_repaid),
                                         columns[7]:clean(principal_repaid_to_date),
                                         columns[8]:clean(remaining_principal)})
    if to_break:
        table = table.drop(range(instalment+1, total_instalments+1))
        break

### Details
- **Principal to date**:  This is the amount of the loan at a given time.

- **Payment**: This refers to the total amount of money paid toward the loan in a given period (usually monthly). This payment typically includes both principal and interest.

- **Paid to date**:  The total amount of money paid towards the loan since it originated. This includes both principal and interest portions of all payments made.

- **Increased**: Whether for this month there was an increased payment.

- **Interest charged**: The amount of interest that accrues on the loan for a specific period (e.g., a month). This is the cost of borrowing the money.

- **Interest charged to date**: The total amount of interest that has accrued on the loan since it originated.

- **Principal repaid**: The portion of a specific payment that goes towards reducing the original loan amount (the principal).

- **Principal repaid to date**: The total amount of the original loan amount that has been paid back since the loan originated.

- **Remaining principal**: The outstanding balance on the loan; this is the amount still owed. It's calculated as "Principal to date" minus "Principal repaid to date".

In [10]:
table.head(40)

,Principal to date,Payment,Increased,Paid to date,Interest charged,Interest charged to date,Principal repaid,Principal repaid to date,Remaining principal
1,"200,000.00",953.68,,953.68,665.00,665.00,288.68,288.68,"199,711.32"
2,"199,711.32",953.68,,"1,907.36",664.04,"1,329.04",289.64,578.32,"199,421.68"
3,"199,421.68",953.68,,"2,861.04",663.08,"1,992.12",290.60,868.92,"199,131.08"
4,"199,131.08",953.68,,"3,814.72",662.11,"2,654.23",291.57,"1,160.49","198,839.51"
5,"198,839.51",953.68,,"4,768.40",661.14,"3,315.37",292.54,"1,453.03","198,546.97"
6,"198,546.97",953.68,,"5,722.08",660.17,"3,975.54",293.51,"1,746.54","198,253.46"
7,"198,253.46",953.68,,"6,675.76",659.19,"4,634.73",294.49,"2,041.03","197,958.97"
8,"197,958.97",953.68,,"7,629.44",658.21,"5,292.94",295.47,"2,336.50","197,663.50"
9,"197,663.50",953.68,,"8,583.12",657.23,"5,950.18",296.45,"2,632.94","197,367.06"
10,"197,367.06","1,000.00",Y,"9,583.12",656.25,"6,606.42",343.75,"2,976.70","197,023.30"
11,"197,023.30","1,000.00",Y,"10,583.12",655.10,"7,261.52",344.90,"3,321.60","196,678.40"
12,"196,678.40","1,000.00",Y,"11,583.12",653.96,"7,915.48",346.04,"3,667.64","196,332.36"
13,"196,332.36","1,000.00",Y,"12,583.12",652.81,"8,568.28",347.19,"4,014.84","195,985.16"
14,"195,985.16","1,000.00",Y,"13,583.12",651.65,"9,219.93",348.35,"4,363.19","195,636.81"
15,"195,636.81","1,000.00",Y,"14,583.12",650.49,"9,870.43",349.51,"4,712.69","195,287.31"
16,"195,287.31","1,100.00",Y,"15,683.12",649.33,"10,519.76",450.67,"5,163.36","194,836.64"
17,"194,836.64","1,100.00",Y,"16,783.12",647.83,"11,167.59",452.17,"5,615.53","194,384.47"
18,"194,384.47","1,100.00",Y,"17,883.12",646.33,"11,813.92",453.67,"6,069.20","193,930.80"
19,"193,930.80","1,100.00",Y,"18,983.12",644.82,"12,458.74",455.18,"6,524.38","193,475.62"
20,"193,475.62","1,100.00",Y,"20,083.12",643.31,"13,102.04",456.69,"6,981.08","193,018.92"
21,"193,018.92","1,100.00",Y,"21,183.12",641.79,"13,743.83",458.21,"7,439.29","192,560.71"
22,"192,560.71","1,100.00",Y,"22,283.12",640.26,"14,384.10",459.74,"7,899.02","192,100.98"
23,"192,100.98","1,200.00",Y,"23,483.12",638.74,"15,022.83",561.26,"8,460.29","191,539.71"
24,"191,539.71","1,200.00",Y,"24,683.12",636.87,"15,659.70",563.13,"9,023.42","190,976.58"
25,"190,976.58","1,200.00",Y,"25,883.12",635.00,"16,294.70",565.00,"9,588.42","190,411.58"
26,"190,411.58","1,200.00",Y,"27,083.12",633.12,"16,927.82",566.88,"10,155.30","189,844.70"
27,"189,844.70","1,200.00",Y,"28,283.12",631.23,"17,559.05",568.77,"10,724.07","189,275.93"
28,"189,275.93","1,200.00",Y,"29,483.12",629.34,"18,188.39",570.66,"11,294.73","188,705.27"
29,"188,705.27","1,200.00",Y,"30,683.12",627.45,"18,815.84",572.55,"11,867.28","188,132.72"
30,"188,132.72","1,200.00",Y,"31,883.12",625.54,"19,441.38",574.46,"12,441.74","187,558.26"
31,"187,558.26",953.68,,"32,836.80",623.63,"20,065.01",330.05,"12,771.79","187,228.21"
32,"187,228.21",953.68,,"33,790.48",622.53,"20,687.54",331.15,"13,102.94","186,897.06"
33,"186,897.06",953.68,,"34,744.16",621.43,"21,308.98",332.25,"13,435.18","186,564.82"
34,"186,564.82",953.68,,"35,697.84",620.33,"21,929.31",333.35,"13,768.53","186,231.47"
35,"186,231.47",953.68,,"36,651.52",619.22,"22,548.53",334.46,"14,102.99","185,897.01"
36,"185,897.01",953.68,,"37,605.20",618.11,"23,166.63",335.57,"14,438.57","185,561.43"
37,"185,561.43",953.68,,"38,558.88",616.99,"23,783.62",336.69,"14,775.26","185,224.74"
38,"185,224.74",953.68,,"39,512.56",615.87,"24,399.50",337.81,"15,113.06","184,886.94"
39,"184,886.94",953.68,,"40,466.24",614.75,"25,014.25",338.93,"15,451.99","184,548.01"
40,"184,548.01",953.68,,"41,419.92",613.62,"25,627.87",340.06,"15,792.05","184,207.95"

## New Summary

In [8]:
print(f"Total amount borrowed {currency}{clean(mortgage_amount)}, with an initial interest rate of {clean(denormalise_interest_rate(interest_rate))}.")
print(f"Thanks to early repayments you shortened your mortgage to {instalment} instalments")
print(f"Montly payments was initially set to {currency}{clean(monthly_payment)}")
print(f"Then you performed {len(repayments_adj)} increased repayments, of a total of {currency}{clean(sum([rep-monthly_payment for _,rep in repayments_adj.items()]))}")
print(f"Your total repayment is {currency}{clean(payment_to_date)} (instead of the original {currency}{clean(total_given)})")
print(f"For each £1 borrowed you are will pay back {currency}{clean(payment_to_date/mortgage_amount)}")

Total amount borrowed £200,000.00, with an initial interest rate of 3.99.
Thanks to early repayments you shortened your mortgage to 350 instalments
Montly payments was initially set to £953.68
Then you performed 21 increased repayments, of a total of £3,272.72
Your total repayment is £336,731.46 (instead of the original £343,324.80)
For each £1 borrowed you are will pay back £1.68

## Export to Excel

In [9]:
output_file = "my_mortgage_analysis3.xlsx"
table.to_excel(output_file)